<div class="container w-50 mt-5 border shadow p-5">
    <div class="alert alert-danger" role="alert" *ngIf="isNewUser">
        Please register First
       </div>
       <div class="alert alert-success" role="alert" *ngIf="isNewUser">
         Login Success
        </div>
 
<form  [formGroup]="loginForm" (ngSubmit)="login()">
    <h4>login</h4>

    <div class="mb-3">
      <label for="id1" class="form-label">email </label>
      <input type="email" class="form-control" id="id1" formControlName="email" >
    </div>
    <div class="mb-3">
      <label for="id2" class="form-label">Password</label>
      <input type="password" class="form-control" id="id2" formControlName="password">
    </div>
    
    <button type="submit" class="btn btn-primary">login</button>
    <button type="button" class="btn btn-primary" routerLink="/signup">signup</button>

  </form>
     </div>